body{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.card__img{
  height: 190px;
  width: 300px;
}

.con{
  display: flex;
  justify-content: space-around;
}

.card{
  
  height: 350px;
  width: 300px;
  color: antiquewhite;
  background-color: #6a8f8985;
  border-color: black;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(97, 79, 79, 0.22), 0 6px 20px 0 rgba(150, 120, 120, 0.119);
  transform: scale(1.03,1.03);
}

.button{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  margin-left: 100px;
  padding: 10px;
  cursor: pointer;
}
.card__catogary{
  margin-left: 10px;
} 
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card__title{
  margin-left: 10px;
}